* {
	box-sizing: border-box;
}

body {
	background-color: #B0BEC5; 
	margin: 0;
	font-family: 'Ubuntu Condensed', sans-serif;
}

header {
	background: #607D8B; 
	text-align: center;
	padding: 15px;
	font-family: 'Ubuntu Condensed', sans-serif;
	color: #FFFFFF;
}

	header .profile-picture {
		width: 125px;
		height: 125px;
		border-radius: 85px;
	}

section {
	background: #CFD8DC; 
	padding: 15px;
	margin: 15px;
	border-radius: 25px;
}

	section .title {
		/*color: #616161;*/
	}

	section .content {
		/*color: 757575;*/
	}

footer {
	background-color: #B0BEC5; 
	/*position: absolute;*/
	/*bottom: 0;*/
    width: 100%;
    padding: 15px;
	text-align: center;
}
